/*imports*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import "normalize.css";

/*all page rules*/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #fff;
}

ul {
   list-style: none;
}

/*all page rules body and container*/

body {
   font-family: "Roboto", sans-serif;
   color: #fff;
   overflow-x: hidden;
   width: 100vw;
}

.container {
   max-width: 1200px;
   width: 100%;
   padding: 30px 15px;
   margin: 0 auto;
}

/*first section*/

.section-header {
   background-image: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, rgba(98, 20, 2, 1) 100%),
      url("../img/bg-body.png");
   background-size: cover;
}

.header {
   display: flex;
   align-items: center;
}

.header-logo {
   max-width: 30px;
   max-height: 30px;
}

.menu {
   margin-left: 5%;
   display: flex;
}

.menu-item {
   margin-right: 25px;
}

.menu-link {
   font-size: 14px;
   line-height: 16px;
}

.user {
   margin-left: auto;
   display: flex;
   align-items: center;
   font-size: 16px;
   line-height: 19px;
}

.profile-name {
   margin-left: 5px;
}

#user-photo {
   width: 33px;
   height: 33px;
   border-radius: 50%;
   margin-left: 10px;
}

.film {
   margin-top: 60px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.film-title-small {
   opacity: 0.5;
   font-size: 24px;
   line-height: 150%;
}

.film-title {
   font-size: 36px;
   line-height: 42px;
   margin-top: 11px;
   margin-bottom: 23px;
}

.film-description {
   font-size: 16px;
   line-height: 150%;
   max-width: 570px;
}

#more-btn {
   display: none;
}

.film-trailer {
   margin-top: 70px;
}

.film-details {
   display: flex;
   align-items: center;
   margin-top: 50px;
   margin-bottom: 68px;
}

.time {
   display: flex;
   align-items: center;
}

.time-icon {
   margin-right: 14px;
}

.rating {
   display: flex;
   align-items: center;
}

.rating-icon {
   width: 35px;
   height: 17.5px;
   margin-right: 12px;
   margin-left: 34px;
}

.rating-current {
   font-size: 24px;
   line-height: 150%;
}

.session {
   padding-top: 46px;
   padding-bottom: 63px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
   display: flex;
   align-items: flex-start;
}

.session-date-block {
   display: flex;
   margin-top: 20px;
}

.session-date-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 5px;
   margin-right: 15px;
   width: 90px;
   height: 90px;
   cursor: pointer;
}

.active {
   background: #fe8e05;
}

.session-date-item:hover {
   background: #fe8e05;
}

.session-month {
   font-size: 16px;
   line-height: 19px;
}

.session-day {
   font-weight: 900;
   font-size: 30px;
   line-height: 35px;
}

.session-week {
   font-size: 19px;
   line-height: 22px;
}

.session-select-container {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.session-cinema {
   display: flex;
   flex-direction: column;
}

.session-select {
   margin-top: 33px;
   padding: 18px;
   height: 60px;
   background: rgba(255, 255, 255, 0.15) url("../img/Vector2.svg") no-repeat;
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 5px;
   appearance: none;
   -webkit-appearance: none;
   font-size: 16px;
   line-height: 150%;
   color: #fff;
   cursor: pointer;
}

#cinema-selector {
   min-width: 470px;
   background-position: 435px;
}

.session-time {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
}

#time-selector {
   width: 108px;
   background-position: 75px;
}

.content {
   background: #621402;
   padding-top: 60px;
}

.seats-room-layout {
   max-width: 1170px;
   max-height: 686px;
   width: 100%;
   height: 100%;
   background: rgba(36, 36, 36, 0.18);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
}

.screen-line {
   max-width: 1018px;
   border: 10px solid rgba(0, 0, 0, 0.39);
   margin: 0 auto;
   margin-top: 50px;
}

.screen-glow {
   max-width: 914px;
   height: 67px;
   width: 92%;
   transform: perspective(10px) rotateX(1deg);
   margin: -2px auto 20px auto;
   background: linear-gradient(180deg, rgba(196, 196, 196, 0.21) 0%, rgba(196, 196, 196, 0) 100%);
}

.big {
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   grid-template-columns: repeat(19, 1fr);
   grid-template-areas:
      "seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single"
      "seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single"
      "seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single"
      "seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single seat-single";
   margin: 0 auto;
}

.seat-single {
   background-size: 38px 30px;
   width: 38px;
   height: 30px;
   margin: 5px;
}

.seats-backseat {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0 25px;
}

.small {
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   grid-template-columns: repeat(10, 1fr);
   margin: 55px auto;
}

.seats-infoboard {
   display: flex;
   align-items: center;
   justify-content: start;
   margin: 0 70px 35px 70px;
   padding-top: 20px;
   border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.seats-info-label {
   margin-right: 10px;
   display: flex;
   align-items: center;
}

.seat-label {
   background-size: 38px 30px;
   width: 38px;
   height: 30px;
   margin: 5px;
}

.available {
   background-image: url("../img/seat.png");
}

.chosen {
   background-image: url("../img/seat_active.png");
}

.unavailable {
   background-image: url("../img/seat.png");
   opacity: 0.4;
}

.seat-desc {
   font-size: 16px;
   line-height: 19px;
   opacity: 0.5;
}

.chosen-desc {
   color: #fe8e05;
}

.buy-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 64px;
   padding-bottom: 100px;
}

.price-title {
   font-size: 18px;
   line-height: 21px;
}

.current-price {
   margin-top: 12px;
   font-size: 52px;
   line-height: 61px;
}

#buy-btn {
   width: 250px;
   height: 70px;
   background: #fe8e05;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
}

@media (max-width: 1200px) {
   .container {
      padding-left: 40px;
      padding-right: 40px;
   }

   #cinema-selector {
      min-width: 300px;
      background-position: 265px;
   }

   .seat-label,
   .seat-single {
      background-size: 28px 22px;
      width: 28px;
      height: 22px;
      margin: 3px;
   }
}

@media (max-width: 900px) {
   .session {
      flex-direction: column;
      width: 550px;
      align-items: center;
   }

   .session-select-container {
      margin-left: 0;
      margin-top: 30px;
   }

   .session-time {
      margin-left: 80px;
   }

   .seat-label,
   .seat-single {
      background-size: 24px 18px;
      width: 24px;
      height: 18px;
   }
}

@media (max-width: 767px) {
   .section-header {
      background-position: center 0px;
   }

   .header {
      display: flex;
      align-items: center;
      position: fixed;
      background: rgba(41, 27, 27, 1);
      z-index: 99;
      top: 0;
      height: 60px;
   }

   .header-logo-block {
      z-index: 100;
   }

   .header-logo {
      max-width: 24px;
      max-height: 24px;
   }

   .menu {
      position: absolute;
      padding-bottom: 10px;
      padding-left: 80px;
      left: -40px;
      width: 220px;
      list-style: none;
      display: flex;
      flex-direction: column;
      background: rgba(41, 27, 27, 1);
      margin-top: -200px;
      border-radius: 5px;
      transition: margin-top 2s ease-in-out;
      z-index: 1;
   }

   .active-menu {
      margin-top: 180px;
   }
   .menu-item {
      padding-bottom: 5px;
   }

   .menu-link {
      font-size: 14px;
      line-height: 16px;
   }

   .user {
      margin-left: auto;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
   }

   .profile-name {
      margin-left: 5px;
   }

   #user-photo {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 10px;
   }

   .film {
      padding-top: 7rem;
      flex-direction: column;
   }

   .film-trailer {
      margin-top: 0;
      margin-bottom: 40px;
   }

   .session-time {
      margin-left: 50px;
   }

   .content {
      padding-top: 30px;
   }

   .seats-infoboard {
      margin: 20px 20px 30px 20px;
   }

   .seat-label,
   .seat-single {
      background-size: 19px 15px;
      width: 19px;
      height: 15px;
   }

   .buy-info {
      margin-top: 0;
   }
}

@media (max-width: 650px) {
   .film-info {
      max-width: 408px;
      align-self: flex-start;
   }
   .film-description {
      font-size: 14px;
      line-height: 125%;
      height: 100px;
      overflow-y: hidden;
      margin-bottom: 0;
      transition: height 1s ease-in-out;
   }

   .open {
      height: 200px;
   }

   #more-btn {
      display: flex;
      justify-content: flex-end;
      max-width: 400px;
      font-size: 10px;
      text-decoration: underline;
      margin-top: 5px;
   }
   .seats-backseat {
      margin: 0 10px;
   }
   .small {
      margin: 20px auto;
   }
   .seat-single {
      background-size: 15px 10px;
      width: 15px;
      height: 10px;
   }

   .buy-info {
      padding-bottom: 60px;
   }

   .price-title {
      font-size: 16px;
   }

   .current-price {
      margin-top: 5px;
      font-size: 38px;
      line-height: 46px;
   }

   #buy-btn {
      width: 180px;
      height: 50px;
   }
}

@media (max-width: 540px) {
   .container{
      padding: 30px 15px;
   }

   .open {
      height: 250px;
   }

   .session {
      align-items: flex-start;
   }

   .session-select-container{
      flex-direction: column;
      align-items: flex-start;
   }

   .session-time{
      margin-left: 0;
      margin-top: 20px;
   }

   #cinema-selector{
      min-width: 250px;
      width: 250px;
   }
   .session-date{
      width: 300px;
   }

   .seat-single{
      background-size: 10px 8px;
      width: 10px;
      height: 8px;
      margin: 2px;
   }
   .seat-label{
      background-size: 14px 10px;
      width: 14px;
      height: 10px;
   }
   .seat-desc{
      font-size: 12px;
   }
   .small{
      margin: 20px 5px;
   }
}
